@charset "utf-8";
th{
    background-color: aqua;
}
body{
    text-align: center;
    font-family: fantasy;
}
table{
    margin: 60px;
    font-size: 25px;
    background-color: ghostwhite;
    border-collapse: collapse;
}
table, th, td{
    border: 4px solid orange;
    padding: 5px
}

